.login-form form{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
   
}
.submit-inp{
    border-radius: 5px;
    background-color:goldenrod;
    border: 1px solid gray;
}
.google-login{
    border-radius: 5px;
    background-color:goldenrod;
    border: 1px solid gray;
}